        msbuild dk.sln `
          /p:Configuration=${{ matrix.configuration }} `
          /p:Platform=x64 `
          /p:PlatformToolset=v143 `
          /p:WindowsSDKDebuggerIncPath="$env:WindowsSDKDebuggerIncPath" `
          /p:WindowsSDKDebuggerLibPath="$env:WindowsSDKDebuggerLibPath" `
          /p:TreatWarningsAsErrors=false `
          /m `
          /v:minimal
